# How to Split a Pandas List Column into Multiple Columns

## Example 1: Split column of list values into multiple columns

In [10]:
import random
import pandas as pd

langs = ['Python', 'Java' , 'JS', 'C', 'C+']

df = pd.DataFrame({"langs": [ [random.choice(langs) for i in range(0,2)] for _ in range(10)]})
df

              langs
0  [Python, Python]
1         [Java, C]
2           [C, JS]
3       [C, Python]
4      [Python, JS]
5      [JS, Python]
6      [Java, Java]
7        [Java, C+]
8          [C+, JS]
9          [C+, JS]

In [3]:
df2 = pd.DataFrame(df["langs"].to_list(), columns=['prim_lang', 'sec_lang'])
df2

  prim_lang sec_lang
0        JS       C+
1        JS   Python
2      Java       JS
3         C       C+
4    Python        C
5        JS        C
6         C        C
7        C+   Python
8      Java        C
9      Java        C

In [4]:
df["langs"].to_list()

[['JS', 'C+'],
 ['JS', 'Python'],
 ['Java', 'JS'],
 ['C', 'C+'],
 ['Python', 'C'],
 ['JS', 'C'],
 ['C', 'C'],
 ['C+', 'Python'],
 ['Java', 'C'],
 ['Java', 'C']]

## Example 2: Split column of values separated by comma into multiple columns

In [5]:
df = pd.read_csv(f'../data/internshala_dataset_raw.csv')
df.head()

,internship,company_name,skills,perks,location,duration,stipend,applicants,ifSkillsorPerksMissingUseThis
0,Software Testing,Times Internet,Software Testing,"Certificate, 5 days a week",Noida,6 Months,8000 /month,119 applicants,"Software Testing, Certificate\n5 days a week"
1,Technical Operations - Networking And Monitoring,Paytm Payments Bank,"Java, SQL, Unix, Oracle, MS SQL Server, Hibern...","Certificate, Letter of recommendation, 5 days ...",Noida,6 Months,10000 /month,194 applicants,Java\nSQL\nUnix\nOracle\nMS SQL Server\nHibern...
2,Software Project Management,IIT Bombay,"English Proficiency (Spoken), English Proficie...","Certificate, Letter of recommendation, Flexibl...",Work From Home,6 Months,1000-2000 /month,113 applicants,English Proficiency (Spoken)\nEnglish Proficie...
3,Web Development,IIT Bombay,"HTML, CSS, Flask, Python, Django","Certificate, Letter of recommendation, Flexibl...",Work From Home,6 Months,1000-2000 /month,183 applicants,"HTML\nCSS\nFlask\nPython\nDjango, Certificate\..."
4,Front End Development,IIT Bombay,"HTML, CSS, JavaScript, ReactJS, Redux","Certificate, Letter of recommendation, Flexibl...",Work From Home,6 Months,1000-2000 /month,205 applicants,"HTML\nCSS\nJavaScript\nReactJS\nRedux, Certifi..."

In [6]:
df3 = pd.DataFrame(df["skills"].str.split(',').fillna('[]').tolist())
df3

,0,1,2,3,4,5,6,7,8,9,...,36,37,38,39,40,41,42,43,44,45
0,Software Testing,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,Java,SQL,Unix,Oracle,MS SQL Server,Hibernate (Java),Shell Scripting,Spring MVC,REST API,None,...,None,None,None,None,None,None,None,None,None,None
2,English Proficiency (Spoken),English Proficiency (Written),Hindi Proficiency (Spoken),Hindi Proficiency (Written),None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,HTML,CSS,Flask,Python,Django,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,HTML,CSS,JavaScript,ReactJS,Redux,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2562,AutoCAD,Autodesk Inventor,Arduino,Circuit Design,Internet of Things (IoT),None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2563,[,],None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2564,[,],None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2565,[,],None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2566,[,],None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [7]:
pd.DataFrame(df["skills"].str.split(',').fillna('[]').tolist())[45].dropna()

1242     Gitlab
Name: 45, dtype: object

In [8]:
df.iloc[1242]['skills']

'PHP, MySQL, HTML, CSS, jQuery, Google Analytics, WordPress, AJAX, CakePHP, SQL, Algorithms, Xcode, Google AdWords, Bootstrap, MongoDB, CodeIgniter, AngularJS, Machine Learning, Manual Testing, Node.js, Microsoft Visual Studio, MS SQL Server, Wireframing, Apache, JSON, LARAVEL, DevOps, Docker, GitHub, Internet of Things (IoT), Flutter, REST API, Web Application Security, English Proficiency (Written), iOS, Amazon Web Services (AWS), GUI Testing, Database Testing, Artifical Intelligence, Amazon Web Server (AWS), Docker Products, Elasticsearch, MEAN/MERN Stack, Webflow, Git Bash, Gitlab'

In [9]:
df["skills"].str.split(',')

0                                      [Software Testing]
1       [Java,  SQL,  Unix,  Oracle,  MS SQL Server,  ...
2       [English Proficiency (Spoken),  English Profic...
3                  [HTML,  CSS,  Flask,  Python,  Django]
4             [HTML,  CSS,  JavaScript,  ReactJS,  Redux]
                              ...
2562    [AutoCAD,  Autodesk Inventor,  Arduino,  Circu...
2563                                                  NaN
2564                                                  NaN
2565                                                  NaN
2566                                                  NaN
Name: skills, Length: 2567, dtype: object